@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F4EEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

@media (min-width: 1024px) {
    /* width */
    ::-webkit-scrollbar {
    width: 8px;
}
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bb9df1;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #976ee4;
}